{% load i18n %}

{% block subject %}
{% blocktrans %}Account activation on {{front_end_url}}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you need to finish activation process on STUDENT ENROLLMENT.{% endblocktrans %}

{% trans " Please go to the following page to activate account:" %}
{{front_end_url}}/{{ url|safe }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The IV of Hearts team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}You're receiving this email because you need to finish activation process on STUDENT ENROLLMENT.{% endblocktrans %}</p>

<p>{% trans "Please go to the following page to activate account:" %}</p>
<p><a href="{{front_end_url}}/{{ url|safe }}">{{ protocol }}://{{ domain }}/{{ url|safe }}</a></p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The IV of Hearts team{% endblocktrans %}</p>

{% endblock html_body %}